{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h1 class="box-title">Liste des utilisateurs</h1>
            <a href="{{ url('app_user_create') }}" class="btn btn-primary top-btn">Créer un utilisateur</a>
        </div>
        <div class="box-body">
            <table class="table table-striped dataTable" role="grid">
                <thead>
                    <tr role="row">
                        <th>Id</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr role="row">
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                        <td class="actions_form row">
                            <a href="{{ path('app_user_edit', { 'id': user.id}) }}" class="btn btn-primary">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
