{% extends 'base.html.twig' %}

{% form_theme formProduit 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>    
        {% if editMode %}
            Modification d'un article !
        {% else %}
            Création d'un article !
        {% endif %}
    </h1>

    {{ form_start(formProduit) }}

    {{ form_row(formProduit.title,       {'attr': {'placeholder': "Titre du produit"}}) }}
    {{ form_row(formProduit.categorie) }}
    {{ form_row(formProduit.description, {'attr': {'placeholder': "Description du produit"}}) }}
    {{ form_row(formProduit.image,       {'attr': {'placeholder': "URL de l'image"}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter le produit
        {% endif %}
    </button>
    
    {{ form_end(formProduit) }}

{% endblock %}