{% extends 'base.html.twig' %}

{% block body %}

    {% for produit in produits %}
        <article>
            <h2>{{ produit.title }}</h2>

            <p class="metadata">
                Ecrit le {{ produit.createdAt | date('d/m/Y') }} à {{ produit.createdAt | date('H:i') }} dans la catégorie <i>Catégorie</i>
            </p>

            <img src="{{ produit.image }}" alt="">
            
            {{ produit.description | raw }}

            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center bg-light">
                    <strong>Taille :</strong> 150 cm
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <strong>Taille :</strong> 150 cm
                </li>
                <li class="list-group-item d-flex align-items-center bg-light">
                    <strong>Taille :</strong> 150 cm
                </li>
                <li class="list-group-item d-flex align-items-center">
                    <strong>Taille :</strong> 150 cm
                </li>
            </ul>

            <a href="{{ path('show', {'id': produit.id}) }}" class="btn btn-primary">
                Lire le produit
            </a>
        </article>
    {% endfor %}
{% endblock %}