{{ form_start(form, {'method': 'POST', 'attr': {'class': 'form-horizontal row'}}) }}
    <div class="form-group col-sm-3">
        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
    </div>
    {# <div class="form-group col-sm-3">
        {{ form_label(form.reference, null, {'label': 'Reference', 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div> #}
    <div class="form-group col-sm-3">
        {{ form_widget(form.quantite, {'attr': {'class': 'form-control', 'placeholder': 'Quantité min'}}) }}
    </div>
    <div class="form-group col-sm-3">
        {{ form_widget(form.couleur, {'attr': {'class': 'form-control', 'placeholder': 'Couleur'}}) }}
    </div>
    <div class="form-group col-sm-3">
        {{ form_widget(form.format, {'attr': {'class': 'form-control', 'placeholder': 'Format'}}) }}
    </div>

    <div class="form-group col-sm-3">
        {{ form_widget(form.grammage, {'attr': {'class': 'form-control', 'placeholder': 'Grammage'}}) }}
    </div>

    <div class="form-group col-sm-3">
        {{ form_widget(form.materiel, {'attr': {'class': 'form-control', 'placeholder': 'Materiel'}}) }}
    </div>
    <div class="form-group col-sm-3">
        {{ form_widget(form.type, {'attr': {'class': 'form-control', 'placeholder': 'Type'}}) }}
    </div>

    <div class="form-group col-sm-3">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success form-control'}, 'label': 'Rechercher'}) }}
    </div>
{{ form_end(form) }}