{% extends 'base.html.twig' %}

{% block title %}liquides{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h1 class="box-title">Liste des liquides</h1>
            <a href="{{ path('app_liquide_new') }}" class="btn btn-primary top-btn">Créer un liquide</a>
        </div>
        <div class="box-body">
            <table class="table table-striped dataTable" role="grid">
                <thead>
                    <tr role="row">
                        <th>Article</th>
                        <th>Nom</th>
                        <th>Quantite</th>
                        <th>Couleur</th>
                        <th>Format</th>
                        <th>Type<th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for liquide in liquides %}
                    <tr role="row">
                        <td>{{ liquide.id }}</td>
                        <td>{{ liquide.nom }}</td>
                        <td>{{ liquide.quantite }}</td>
                        <td>{{ liquide.couleur }}</td>
                        <td>{{ liquide.format }}</td>
                        <td>{{ liquide.type }}</td>
                        <td class="actions_form row">
                            <a href="{{ path('app_liquide_edit', { 'id': liquide.id}) }}" class="btn btn-primary">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            {{ include('liquide/_delete.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
