{{ form_start(item, {'method': 'POST', 'attr': {'class': 'form-horizontal row'}}) }}

<div class="box-body col-sm-6">
    <div class="form-group">
        {{ form_label(item.reference, null, {'label': 'Reference', 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(item.reference, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(item.designation, null, {'label': 'Designation', 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(item.designation, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(item.quantite, null, {'label': 'Quantite', 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(item.quantite, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(item.emplacement, null, {'label': 'Emplacement', 'label_attr': {'class': 'col-sm-3 control-label'}}) }}
        <div class="col-sm-9">
            {{ form_widget(item.emplacement, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

<div class="box-footer">
    <div class="row">
        <div class="btn-box col-sm-4 col-sm-offset-4">
            <a href="{{ url("app_item_index") }}" class="btn btn-default">{{ 'Annuler'|trans }}</a>
        </div>
        <div class="btn-box col-sm-4">
            {{ form_widget(item.submit, {'attr': {'class': 'btn btn-primary'}, 'label': 'Enregistrer'}) }}
        </div>
    </div>
</div>

{{ form_end(item) }}
