{% extends 'base.html.twig' %}

{% block title %}divers{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h1 class="box-title">Liste des divers</h1>
            <a href="{{ path('app_divers_new') }}" class="btn btn-primary top-btn">Créer un divers</a>
        </div>
        <div class="box-body">
            <table class="table table-striped dataTable" role="grid">
                <thead>
                    <tr role="row">
                        <th>Article</th>
                        <th>Quantite</th>
                        <th>Couleur</th>
                        <th>Format</th>
                        <th>Type<th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for divers in diverss %}
                    <tr role="row">
                        <td>{{ divers.id }}</td>
                        <td>{{ divers.quantite }}</td>
                        <td>{{ divers.couleur }}</td>
                        <td>{{ divers.format }}</td>
                        <td>{{ divers.type }}</td>
                        <td class="actions_form row">
                            <a href="{{ path('app_divers_edit', { 'id': divers.id}) }}" class="btn btn-primary">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                            {{ include('divers/_delete.html.twig') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
